<html>
    
    <style> body {background-color:#a6a6a6}; h1 {color:#ffffff};
    </style>
    
    <header style = background-color:#330025 >
        <br>
        <br>
        <h1 align = center style = color:#ffffff> SPELL CHECKER </h1>
        <br>
        <br>
    </header>
    
    <div>
        <body>    
            <br>
            <br>
            <br>
            <form action = "http://localhost:5000/result" method = "POST">
                <h2 align = center> <i><b>Please Enter the word you wish to correct</b> </i></h2>
                <p align = center><input type = "text" name = "Word" /></p>
                <p align = center><input type = "submit" value = "Evaluate" /></p>
            </form>
            
            <form action = "http://localhost:5000/result" method = "GET">
                <p align = center><button type="submit">Feeling Lazy</button></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <footer style = background-color:#330025 >
                    <br>
                    <br>
                    <br>
                    <br>
                </footer>
    
            </form>
        </body>
    </div>
    
</html>